{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "R1[56]", 'OLD_DICT_TYPE'}
]}.

{deps,[
    neotoma,
    {ezic, {git, "https://github.com/waj/ezic.git", {branch, "master"}}},
    {zucchini, {git, "https://github.com/altenwald/zucchini.git", {branch, "master"}}},
    {unistring, {git, "https://github.com/altenwald/unistring.git", {branch, "master"}}}
]}.

{escript_incl_apps, [ezic,zucchini,unistring]}.
{escript_emu_args, "%%! -pa ephp/ephp/ebin -pa ephp/ezic/ebin -pa ephp/zucchini/ebin\n"}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{plugins, [
    {rebar_edown_plugin,
        {git, "git://github.com/jkakar/rebar_edown_plugin.git", {branch, "master"}}
    }
]}.

{edoc_opts,[
    {doclet, edown_doclet},
    {edown_target, github},
    {top_level_readme, {"./README.md", "http://github.com/altenwald/ephp"}}
]}.

