{erl_opts, [debug_info, warnings_as_errors]}.
{deps,[
    {neotoma, ".*", {git, "git://github.com/seancribbs/neotoma.git", master}},
    {ezic, ".*", {git, "https://github.com/waj/ezic.git", master}},

    %% documentation
    {edown, ".*", {git, "https://github.com/uwiger/edown", master}}
]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

% FIXME: try to repair the error with compile:forms/2 and cover module.
%{cover_enabled, true}.
%{cover_print_enable, true}.
%{cover_export_enabled, true}.

{edoc_opts,[
	{doclet, edown_doclet},
	{edown_target, github},
	{top_level_readme, {"./README.md", "http://github.com/altenwald/ephp"}}
]}.
