{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps,[
    {ezic, "0.2.1"},
    {unistring, "0.1.0"},
    {zucchini, "0.1.0"},
    {getopt, "1.0.1"},
    {recon, "2.3.2"}
]}.

{escript_incl_apps, [ezic,zucchini,unistring,recon]}.
{escript_emu_args, "%%! -pa ephp/ephp/ebin "
                       "-pa ephp/ezic/ebin "
                       "-pa ephp/zucchini/ebin "
                       "-pa ephp/getopt/ebin "
                       "-pa ephp/recon/ebin\n"}.
{escript_incl_extra, [{"ephp/priv/*", "_build/default/lib/"},
                      {"ezic/priv/tzdata/version", "_build/default/lib"}]}.

{project_plugins, [rebar3_hex, covertool]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{profiles, [
    {dev, [
        {erl_opts, [{d, 'TEST'}]},
        {deps, [eper]}
    ]},
    {doc, [
        {plugins, [rebar_edown_plugin]},

        {edoc_opts,[
            {doclet, edown_doclet},
            {edown_target, github},
            {top_level_readme, {"./README.md", "http://github.com/bragful/ephp"}}
        ]}
    ]}
]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.

{dialyzer, [
    {exclude_apps, [ezic]}
]}.
